<div id="layout">
  <nav class="navbar navbar-default navbar-fixed-top"></nav>
  <div id="container">
      <div class="row">
          <div class="col-md-3">
              <div class="sidenav"></div>
          </div>
          <div class="col-md-7">
            <div class="row">
                <header></header>
            </div>
            <div class="row">
                <div class="ui-view">
                  Hello world, Wazajs demo routing! <a href="#/home">home</a>
                </div>
            </div>
          </div>
      </div>  
      <br><br>
      <div id="footer">@Copyright Mard : company behind Wazajs</div>
  </div>
</div>